.header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  /* background: rgba(16, 18, 24, 1) */
  z-index: 1;
}

.header h1{
  font-family: GeneralSans-Medium;
  font-family: "Poppins";

}

@media (min-width : 768px){
  header{
    position: fixed;
    top: 0;
    left: 80px;
    float: right;
    width: calc(100% - 80px);
  }
}

.headcol{
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}
.headcol p{
  font-weight: 800;
  font-size: 18px;
}
.headcol:nth-child(2){
  text-align: center;
  justify-content: center;
}
.headcol:nth-child(3) {
  justify-content: end;
}

#headLogo{
  width: 40px;
  height: 40px;
}

.login-btn{
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 241, 255);
  cursor: pointer;
}

.login-btn:hover{
  /* background-color: rgb(206, 218, 255); */
  opacity: 0.7;
}
.home.dark .login-btn{
  background-color: rgb(36, 32, 29);
}

.home.dark .login-btn:hover{
  background-color: rgb(53, 47, 42);
}

.login-btn p{
  font-weight: 500;
}

.login-btn img{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}



.home .header{
  width: 100%;
  height: 60px;
  display: flex;
  padding:0 30px 0 80px; 
  align-items: center;
    /* background-color: rgba(255, 255, 255, 0.699); */
  /* backdrop-filter: blur(10px); */
}

@media (max-width: 768px){
  .home .header{
    padding: 0 10px;
  }
}

.home .header .firstCol{
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  
}
.header.hide{
  display: none;
}


.back-btn{
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: rgb(64, 64, 255);
}

.back-btn:hover{
  opacity: 0.3;
}

.back-btn span{
  font-size: 16px;
}

.home .header .secondCol{
  flex: 1;
  margin-left: auto;
  text-align: end;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.secondCol .btn, .firstCol .btn{
  width: 50px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;

}

.secondCol .btn:hover, .firstCol .btn:hover{
  background-color: rgba(255, 255, 255, 0.05);
}

.secondCol .btn span{
  font-size: 26px;
  transition: background-color 0.2s ease;
}

.secondCol .profile-container{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.secondCol .profile-container img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}

.secondCol .profile-container img:hover{
  border: 2px solid rgb(158, 153, 153);
}

.profileInfo{
  width: 300px;
  /* height: 200px; */
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  position: absolute;
  top: 0px;
  right: -10px;
  /* display: none; */
  flex-direction: column;
  padding: 10px;
  background-color: #E9EFF7;
  box-shadow: 0 5px 10px rgba(104, 104, 104, 0.205);
  /* box-shadow: 10px black; */
}
.profileInfoHeader{
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.closeBtn{
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.closeBtn:hover{
  background-color: rgb(226, 226, 226);
}

.home.dark .closeBtn:hover{
  background-color: #ffffff1f;
}
.home.dark .profileInfo{
  background-color: #292929;
  border: 1px solid rgb(78, 78, 78);
  box-shadow: none;
}

.secondCol .profile-container:hover .profileInfo{
  /* display: flex; */
}

.profileInfo .accDetails{
  height: 60px;
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.profileInfo .profilePic img:hover{
  border: none;
}

.accDetails .info{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.accDetails .info h3{
  margin: 0;
  padding: 0;
}


.accDetails .info p{
  font-size: 12px;
}
.settings-button{
  margin-top: 5px;
}
.settings-button, .logout-button, .customize-button{
  width: 100%;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.settings-button:hover, .logout-button:hover{
  background-color: rgba(255, 255, 255, 0.397);
}

.home.dark .settings-button:hover,.home.dark .logout-button:hover{
  background-color: #ffffff1f;
}

.profileInfo span{
  font-size: 18px;
}

.pbtn p{
  font-size: 14px;
}




.profile-wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
}

