.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  /* background: rgba(16, 18, 24, 1) */
  z-index: 1;

  transition: opacity 0.5s ease-in-out;
}

.header h1 {
  font-family: GeneralSans-Medium;
  font-family: "Poppins";

}

@media (min-width : 768px) {
  header {
    position: fixed;
    top: 0;
    left: 80px;
    float: right;
    width: calc(100% - 80px);
  }
}

.headcol {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.headcol p {
  font-weight: 800;
  font-size: 18px;
}

.headcol:nth-child(2) {
  text-align: center;
  justify-content: center;
}

.headcol:nth-child(3) {
  justify-content: end;
}

#headLogo {
  width: 40px;
  height: 40px;
}

.login-btn {
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 241, 255);
  cursor: pointer;
}

.login-btn:hover {
  /* background-color: rgb(206, 218, 255); */
  opacity: 0.7;
}

.home.dark .login-btn {
  background-color: #1e2431;
}

.home.dark .login-btn:hover {
  background-color: rgb(53, 47, 42);
}

.login-btn p {
  font-weight: 500;
}

.login-btn img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}



.home .header {
  width: 100%;
  height: 60px;
  display: flex;
  padding: 0 30px 0 80px;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.699); */
  /* backdrop-filter: blur(10px); */
}

@media (max-width: 768px) {
  .home .header {
    padding: 0 10px;
  }
}

.home .header .firstCol {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;

}

.header.hide {
  display: none;
}


.back-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.back-btn:hover {
  opacity: 0.3;
}

.back-btn span {
  font-size: 16px;
}

.home .header .secondCol {
  flex: 1;
  margin-left: auto;
  text-align: end;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}


.searchBar {
  height: 35px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #e5e9f0;
  cursor: pointer;
}

.home.dark .searchBar {
  background-color: #121722;
}


.secondCol .searchBar:hover {
  background-color: #d1d7e1;
}

.home.dark .secondCol .searchBar:hover {
  background-color: #0c101a;
}


.searchBar span {
  cursor: pointer;
  font-size: 15px;
  color: #121722;
  margin-bottom: 2px;
}


@media (max-width:768px) {
  .searchBar p {
    display: none;
  }
}

.home.dark .searchBar span {
  color: #d0d0d0;
}

.searchBar p {
  font-size: 13px;
  font-weight: 500;
  pointer-events: none;
  width: 130px;
  text-align: start;
}

.keys {
  display: flex;
  gap: 5px;
}

.keys p {
  font-size: 10px;
  font-weight: 500;
  pointer-events: none;
  border-radius: 5px;
  padding: 0 5px;
  width: max-content;
  background-color: #d1d7e1;
}

.home.dark .keys p {
  background-color: #ffffff1c;
}

.home.dark .searchBar p {
  color: #d0d0d0;
}

.secondCol .btn,
.firstCol .btn {
  width: 50px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;

}

.secondCol .btn:hover,
.firstCol .btn:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.secondCol .btn span {
  font-size: 26px;
  transition: background-color 0.2s ease;
}

.secondCol .profile-container {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 5px;
  padding: 8px;
  background-color: #e5e9f0;
  border-radius: 20px;
  cursor: pointer;
}

.secondCol .profile-container:hover {
  background-color: #d1d7e1;
}

.home.dark .secondCol .profile-container {
  background-color: #121722;
}

.home.dark .secondCol .profile-container:hover {
  background-color: #0c101a;
}

.secondCol .profile-container p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
}


@media (max-width: 768px) {
  .secondCol .profile-container {
    background-color: none;
    padding: 0;
    height: fit-content;
  }

  .secondCol .profile-container .profileName {
    display: none;
  }

  .secondCol .profile-container img {
    height: 30px;
    width: 30px;
  }


  .secondCol .searchBar {
    padding: 0;
    height: fit-content;
    background-color: transparent !important;
  }

  .searchBar span {
    font-size: 22px;
  }

}

.secondCol .profile-container img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}

.secondCol .profile-container img:hover {
  /* border: 2px solid rgb(158, 153, 153); */
}

.profileInfo {
  width: 300px;
  /* height: 200px; */
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  position: absolute;
  top: 0px;
  right: -10px;
  /* display: none; */
  flex-direction: column;
  padding: 10px;
  background-color: #E9EFF7;
  box-shadow: 0 5px 10px rgba(104, 104, 104, 0.205);
  /* box-shadow: 10px black; */
  pointer-events: auto;
}

.profileInfoHeader {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.closeBtn {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.closeBtn:hover {
  background-color: rgb(226, 226, 226);
}

.home.dark .closeBtn:hover {
  background-color: #ffffff1f;
}

.home.dark .profileInfo {
  background-color: #121722;
  border: 1px solid rgb(22, 21, 31);
  box-shadow: none;
}

.secondCol .profile-container:hover .profileInfo {
  /* display: flex; */
}

.profileInfo .accDetails {
  height: 60px;
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.profileInfo .profilePic img:hover {
  border: none;
}

.accDetails .info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.accDetails .info h3 {
  margin: 0;
  padding: 0;
}


.accDetails .info p {
  font-size: 12px;
}

.settings-button {
  margin-top: 5px;
}

.settings-button,
.logout-button,
.customize-button {
  width: 100%;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.settings-button:hover,
.logout-button:hover {
  background-color: rgba(255, 255, 255, 0.397);
}

.home.dark .settings-button:hover,
.home.dark .logout-button:hover {
  background-color: #ffffff1f;
}

.profileInfo span {
  font-size: 18px;
}

.pbtn p {
  font-size: 14px;
}




.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}