.home{
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  background-color: #fffcf6;
  background-color: white;
  color: #272727;
}

.home.dark{
  background-color: #121212;
  background-color: #1d1d1d;
  color: #fffcf6;
}

.home-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(8, 8, 14); */
  overflow-y: hidden;
  justify-content: center;
  position: relative;
  flex-direction: row;
  /* gap: 10px; */
  transition:  scale 0.3s;
}

.home-wrapper.anim{
  background-color: transparent;
  gap: 10px;
}


.home-wrapper.onsearch .homeContainer{
  flex: 3;
}

.homeContainer.drawer{
  opacity: 0.3;
  background-color: #cecece;
}

.home.dark .homeContainer.drawer{
  opacity: 0.3;
  background-color: #1f1f1f;
}

.homeContainer{
  width: 100%;
  height: 100%;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden !important;
  /* padding: 10px; */
  /* padding-top: 150px; */
  position: relative;
  transition: all 0.2s;
}

.homeContainer.onsearch{
  flex-direction: row;
  /* gap: 10px; */
  /* padding: 10px 10px 10px 80px; */
  align-items: center;
  position: relative;
}

.home-wrapper.anim .homeContainer.onsearch{
  padding: 10px;
} 

@media (max-width: 768px){ 
  .homeContainer{
    padding: 0;
  }
}

/* .bg-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: #000;
} */

.bg-wrapper.inactive{
  display: none;
}


/* @media (max-width: 768px) {
  .box{
    box-shadow: 0 0 200px 350px rgba(0, 0, 255, 0.185);
  }

  @keyframes showShadow{
  from{
    box-shadow: 0 0 100px 0px blue;
  }
  to{
    box-shadow: 0 0 200px 350px rgba(0, 0, 255, 0.185);
  }
}
} */

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}



.neon1::after, .neon2::after{
  filter: blur(100px);
  opacity: 1;
}


@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

 

.homeContainer{
  animation: open 1s ease;
}

@keyframes open{
  from{
    opacity: 0;
    /* transform: translateY(50px); */
  }
  to{
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.home .intro{
  /* height: 100%; */
  margin-top: 150px;
  
  /* display: flex; */
  text-align: center;
  gap: 16px;
}

@media (max-width:768px){
  .home .intro{
    margin-top: 50%;
  }
}

.home .intro h1{
  font-size: 50px;
  font-family: GeneralSans-Medium;
  font-family: "Poppins";
  color: #424242;
  color: blue;
  /* text-align: center; */
  margin: 0;
  font-weight: 600;
  margin-bottom: 15px;
}

.home.dark .intro h1{
  color: rgb(46, 84, 255);
}


.home .intro h1.loggedin{
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 25px;
}
.home .intro p{
  font-size: 20px;
  font-family: GeneralSans-Medium;
  font-family: "Poppins";
  margin-bottom: 25px;
  color: #797979;
}

.home .intro .firstCol{
  flex: 2;
  overflow: hidden;
}
.home .intro .secondCol{
  flex: 1;
  overflow: hidden;
}
.selectionButtonContainer{
  margin-top: 25px;
  display: flex;
  gap: 20px;

  /* padding: 1rem; */
}

.selectionButton{
  /* height: 150px;
  width: 150px; */
  border-radius: 16px;
  /* background-color: rgb(243, 243, 243); */
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  /* background-color: blueviolet; */
}

.selectionButton p{
  font-size: 14px;
  color: rgb(48, 48, 48) !important;
}



.selectionButton:nth-child(1) span{
  color: rgb(173, 19, 19);
  background-color: rgb(255, 226, 226);
  padding: 16px;
  border-radius: 10px;
}
.selectionButton:nth-child(2) span{
  color: rgb(42, 180, 53);
  background-color: rgb(228, 255, 226);
  padding: 16px;
  border-radius: 10px;
}
.selectionButton:nth-child(3) span{
  color: rgb(53, 98, 247);
  background-color: rgb(226, 231, 255);
  padding: 16px;
  border-radius: 10px;
}
.selectionButton:nth-child(4) span{
  color: rgb(121, 53, 247);
  background-color: rgb(246, 226, 255);
  padding: 16px;
  border-radius: 10px;
}
.selectionButton:nth-child(5) span{
  color: rgb(247, 170, 53);
  background-color: rgb(255, 250, 226);
  padding: 16px;
  border-radius: 10px;
}


.recentContainer{
  padding: 15px;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  /* background-color: #f5f5f5; */
}

.recentContainer p{
  color: black !important;
  font-size: 20px;
  font-weight: 500;

}


@keyframes spinBox{
  0%{
    --angle: 0deg;
  }
  100%{
    --angle: 360deg;
    
  }
}



.toolsContainer{
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
}

@media (max-width: 768px){
  .toolsContainer{
    width: 90%;
  }
}

.tool{
  flex: 1 0 30%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border: 1px solid  rgb(228, 228, 228);
  border-radius: 20px;
  cursor: pointer;
}

.home.dark .tool{
  border: 1px solid  rgb(51, 51, 51);
}


.tool:hover{
  background: rgb(240, 240, 240);
}

.home.dark .tool:hover{
  background-color: #292929;
}



.tool span{
  font-size: 20px;
}

.tool p{
  pointer-events: none;
  font-size: 14px;
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.tool:nth-child(1) span{
  color: rgb(247, 53, 53);
  color: rgb(173, 19, 19);
}
.tool:nth-child(2) span{
  color: rgb(45, 250, 62);
  color: rgb(42, 180, 53);
}
.tool:nth-child(3) span{
  color: rgb(53, 98, 247);
}
.tool:nth-child(4) span{
  color: rgb(121, 53, 247);
}
.tool:nth-child(5) span{
  color: rgb(247, 170, 53);
}


.result, .canvas{
  width: 800px;
  flex:3;
  height: 100%;
  /* border-radius: 20px; */
  /* background-color: rgba(255, 255, 255, 0.05); */
  display: none;
  animation: shows 0.5s ease;
  /* margin: 10px 0; */
  position: relative;
}

.home-wrapper.anim .result, .home-wrapper.anim .canvas, .home-wrapper.anim .stories{
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 768px){
  .home-wrapper.anim .result{
    border-radius: 0;
  }
}

.result.show, .canvas.show{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* overflow-y: scroll;   */
}

@media (max-width: 768px){
  .result{
    width: 100%;
  }
  
}


.result .result-header, .canvas .canvas-header{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  /* border-bottom: 1px solid #333232; */
  z-index: 100;

  /* position: fixed; */
  background-color: white;
}
.result-header{
  box-shadow: 0 25px 25px rgb(255, 255, 255);
}
.home.dark .result-header{
  box-shadow: 0 25px 25px #1d1d1d;
  background-color: #1d1d1d;
}

.result-header-left, .result-header-right, .canvas-header-left, .canvas-header-right{
  display: flex;
  align-items: center;
  gap: 10px;
}

.result-header-left, .canvas-header-left, .result-header-center, .result-header-right{
  flex: 1;
}


.result-header-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-header-center p{
  font-weight: 600;
  word-wrap: break-word;
}

.result-header-right{
  justify-content: end;
}



@media (min-width:768px) {
  .result-header-left, .stories-header-left{
    padding-left: 80px;
  }
  .result-header-right{
    padding-right: 70px;
  }
}

.back_btn, .more_btn{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  pointer-events: auto;
  cursor: pointer;
  /* background-color: rgb(255, 230, 199); */
}

.home.dark .back_btn, .home.dark .more_btn{
  /* background-color: rgb(58, 51, 43); */
}



.back_btn:hover, .more_btn:hover{
  background-color: rgb(243, 243, 243);
}

.home.dark .back_btn:hover,.home.dark .more_btn:hover{
  background-color: rgba(255, 255, 255, 0.103);
}

.result .result-header h1{
  font-size: 20px;
  font-family: GeneralSans-Semibold;
  color: #fff;
  margin: 0;
}

.result-body, .canvas-body{
  width: 100%;
  /* max-width: 700px; */
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 20px 0 20px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}


.hide{
  display: none;
}

.show{
  display: flex;
}

.settingsContainer, .recentsContainer, .genImageContainer, .loginContainer, .customizeContainer, .summariseContainer, .sourcesContainer{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
}

@keyframes shows {
  from{
    scale: 0.95;
    opacity: 0.85;
  }
  to{
    scale: 1;
    opacity: 1;
  }
}

@keyframes hides {
  from{
    scale: 1;
    opacity: 1;
  }
  to{
    scale: 0.95;
    opacity: 0;
  }
}




.settings-wrapper, .recents-wrapper, .genImageWrapper, .loginWrapper, .customizeWrapper, .summariseWrapper, .sourcesWrapper{
  width: 800px;
  max-width: 100%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  animation: shows 0.2s ease;
  margin: 0 10px;
  overflow: scroll;
}
.sourcesContainer{
  justify-content: right;
}
.sourcesWrapper{
  height: 100%;
  border-radius: 20px 0 0 20px;
  margin: 0;
  width: 400px;
  position: absolute;
  animation: openSource 0.25s ease;
}


@keyframes openSource {
  0%{
    right: -100%;
  }
  100%{
    right: 0;
  }
}

@keyframes hideSource {
  0%{
    right: 0;
  }
  100%{
    right: -100%;
  }
}


.home.dark .settings-wrapper, .home.dark .recents-wrapper,.home.dark .genImageWrapper,.home.dark .loginWrapper,.home.dark .customizeWrapper,.home.dark .summariseWrapper, .home.dark .sourcesWrapper{
  background-color: #292929;
}
/* .summariseWrapper{
  height: unset;
  max-height: 500px;
} */
.settings-wrapper.hide, .recents-wrapper.hide, .genImageWrapper.hide, .loginWrapper.hide, .customizeWrapper.hide, .summariseWrapper.hide, .sourcesWrapper.hide{
  animation: hides 0.3s ease-in-out;
}

.sourcesWrapper.hide{
  animation: hideSource 0.3s ease;
}

@media (max-width: 768px) {
  .settingsContainer, .recentsContainer, .genImageContainer, .loginContainer, .customizeContainer, .summariseContainer, .sourcesContainer{
    align-items: end;
    justify-content: center;
  }
  .settings-wrapper, .recents-wrapper, .loginWrapper, .sourcesWrapper{
    height: 90%;
    border-radius: 20px 20px 0 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    animation: openPanel 0.3s ease;
    width: 100%;
  }
  .loginWrapper, .sourcesWrapper{
    height: 500px;
  }


  .settings-wrapper.hide, .recents-wrapper.hide, .genImageWrapper.hide, .loginWrapper.hide, .customizeWrapper.hide, .summariseWrapper.hide, .sourcesWrapper.hide{
    animation: hidePanel 0.3s ease-in-out;
  }

  @keyframes openPanel {
    0%{
      bottom: -100%;
    }
    100%{
      bottom: 0;
    }
  }
  @keyframes hidePanel {
    0%{
      bottom: 0;
    }
    100%{
      bottom: -90%;
    }
  }
}

.settings-header, .recents-header, .genImageHeader, .loginHeader, .customizeHeader, .summariseHeader, .sourcesHeader{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  border-bottom: 1px solid #dddddd;
  /* border-bottom: 1px solid #333232; */
}

.home.dark .settings-header,.home.dark .recents-header,.home.dark .genImageHeader,.home.dark .customizeHeader,.home.dark .summariseHeader,.home.dark .sourcesHeader{
  border-bottom: 1px solid #525252;
}


.loginHeader{
  border-bottom: none;
}

.btn-container{
  display: flex;
  align-items: center;
  gap: 10px;
}

.close-btn, .download-btn{
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(234, 234, 255);
}

.home.dark .close-btn,.home.dark .download-btn{
  background-color: rgb(65, 65, 65);
}

.close-btn:hover, .download-btn:hover{
  background-color: rgb(247, 247, 255);
}

.home.dark .close-btn:hover,.home.dark .download-btn:hover{
  background-color: rgba(255, 255, 255, 0.178);
}

.settings-body, .recents-body{
  position: relative;
  flex: 1;
  width: 100%;
  
}

.recents-body{
  padding: 20px;
  overflow-y: scroll;
}

.related-ques{
  flex: 1;
}


.related-ques-list{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.related-ques-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  pointer-events: auto;
  cursor: pointer;
  padding: 5px 5px 5px 10px;
  border-radius: 10px;
  animation: fadein 0.64;
}

.related-ques-item:hover{
  background-color: rgba(255, 255, 255, 0.05);
}

.related-ques-item p{
  font-size: 14px;
  font-family: GeneralSans-Regular;
  font-family: "Poppins";
  font-weight: 500;
}

.related-ques-item span{
  margin: 0;
  padding: 0;
}



.markdown-output h1 {
  font-size: 2rem;
  font-weight: bold;
}

.markdown-output pre{
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;  
  border-radius: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;

}


.markdown-output h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.markdown-output h3 {
  font-size: 1.2rem;
  margin-top: 0.8rem;
}


.change{
  animation: fadeinout 1s ease;
}

@keyframes fadeinout {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.genImageBody{
  height: calc(100% - 81px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.summariseBody{
  height: calc(100% - 81px);
  width: 100%;
  padding: 10px;
}


.genImageBody img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
  overflow: hidden;
}


.loginBody{
  padding: 10px;
}

.googleLoginBox{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 15px;
  background-color: rgb(225, 227, 255);
  padding: 15px 25px;
  border-radius: 30px;
}

.googleLoginBox:hover{
  background-color: rgb(233, 237, 255);
}

.home.dark .googleLoginBox{
  background-color: rgb(66, 66, 66);

}

.home.dark .googleLoginBox:hover{
  background-color: rgba(255, 255, 255, 0.062);

}

.googleLoginBox p{
  font-size: 18px;
  font-family: GeneralSans-Medium;
}



.resans *{
  animation: fadein 0.6s;
  text-transform: select;
}

@keyframes fadein {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.customizeBody{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.customizeBody p{
  font-weight: 800;

}

.customizeBody input, .customizeBody textarea{
  width: 100%;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  background: transparent;
  font-size: 16px;
  font-family: GeneralSans-Regular;
  padding: 10px;
  max-height: 120px;
  word-wrap: break-word;
  resize: none;
  display: flex;
  align-items: center;
  cursor: text;
}

.sourcesBody{
  padding: 10px;
}

.sourcesList{
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sourcesList .source{
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 30px;
  width: fit-content;
  padding: 10px 15px;
  cursor: pointer;
  color: black;
}

.home.dark .sourcesList .source{
  background-color: rgb(59, 59, 59);
  color: white;
}

.home.dark .sourcesList .source:hover{
  background-color: #ffffff36;
}


.sourcesList .source:hover{
  background-color: #e4e4e4;
}

.sourcesList .source img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* padding: 10px; */
  object-fit: contain;
}