.home{
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

.home-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(0px);
  background-color: rgb(8, 8, 14);
  overflow-y: hidden;
  justify-content: center;
  position: relative;
  flex-direction: row;
  /* gap: 10px; */
  transition:  scale 0.3s;
}

.home-wrapper.anim{
  /* backdrop-filter: blur(90px); */
  background-color: transparent;
  gap: 10px;
}


.home-wrapper.onsearch .homeContainer{
  flex: 3;
}

.homeContainer{
  width: 100%;
  height: 100%;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  padding: 10px;
  padding-top: 150px;
  position: relative;
}

.homeContainer.onsearch{
  flex-direction: row;
  /* gap: 10px; */
  padding: 10px 10px 10px 80px;
  align-items: center;
  position: relative;
}

.home-wrapper.anim .homeContainer.onsearch{
  padding: 10px;
} 

@media (max-width: 768px){ 
  .homeContainer{
    padding: 0;
  }
}

.bg-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: #000;
}

.bg-wrapper.inactive{
  display: none;
}

.box{
  width: 100%;
  height: 0;
  box-shadow: 0 0 400px 50px blue;
  position: relative;
  z-index: -1;
  animation: showShadow 3s;
}


@keyframes showShadow{
  from{
    box-shadow: 0 0 100px 0px blue;
  }
  to{
    box-shadow: 0 0 400px 50px blue;
  }
}

/* @media (max-width: 768px) {
  .box{
    box-shadow: 0 0 200px 350px rgba(0, 0, 255, 0.185);
  }

  @keyframes showShadow{
  from{
    box-shadow: 0 0 100px 0px blue;
  }
  to{
    box-shadow: 0 0 200px 350px rgba(0, 0, 255, 0.185);
  }
}
} */

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.bg-wrapper.red .box{
  box-shadow: 0 0 400px 50px rgb(255, 0, 0);
}

.bg-wrapper.blue .box{
  box-shadow: 0 0 400px 30px rgb(0, 60, 255);
}

.bg-wrapper.green .box{
  box-shadow: 0 0 400px 30px rgb(0, 255, 21);
}
.bg-wrapper.purple .box{
  box-shadow: 0 0 400px 30px rgb(89, 0, 255);
}

.bg-wrapper.yellow .box{
  box-shadow: 0 0 400px 30px rgb(255, 153, 0);
}



.neon1::after, .neon2::after{
  filter: blur(100px);
  opacity: 1;
}


@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

 

.homeContainer{
  animation: open 1s ease;
}

@keyframes open{
  from{
    opacity: 0;
    transform: translateY(50px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.home .intro{
  text-align: center;
  line-height: 2;
}

.home .intro h1{
  font-size: 50px;
  font-family: GeneralSans-Semibold;
  font-family: "Poppins";
  color: #fff;
  text-align: center;
  margin: 0;
}

.home .intro p{
  font-size: 20px;
  font-family: GeneralSans-Medium;
  font-family: "Poppins";
  margin-bottom: 25px;
}




@keyframes spinBox{
  0%{
    --angle: 0deg;
  }
  100%{
    --angle: 360deg;
    
  }
}



.toolsContainer{
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
}

@media (max-width: 768px){
  .toolsContainer{
    width: 90%;
  }
}

.tool{
  flex: 1 0 30%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border: 1px solid #333232;
  border-radius: 20px;
  cursor: pointer;
}


.tool:hover{
  background: rgba(255, 255, 255, 0.05);
  backdrop-filterr: blur(10px);
}



.tool span{
  font-size: 20px;
}

.tool p{
  pointer-events: none;
  font-size: 14px;
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.tool:nth-child(1) span{
  color: rgb(247, 53, 53);
}
.tool:nth-child(2) span{
  color: rgb(45, 250, 62);
}
.tool:nth-child(3) span{
  color: rgb(53, 98, 247);
}
.tool:nth-child(4) span{
  color: rgb(121, 53, 247);
}
.tool:nth-child(5) span{
  color: rgb(247, 170, 53);
}


.result, .canvas{
  width: 800px;
  flex:3;
  height: 100%;
  /* border-radius: 20px; */
  /* background-color: rgba(255, 255, 255, 0.05); */
  display: none;
  animation: shows 0.5s ease;
  /* margin: 10px 0; */
}

.home-wrapper.anim .result, .home-wrapper.anim .canvas, .home-wrapper.anim .stories{
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 768px){
  .home-wrapper.anim .result{
    border-radius: 0;
  }
}

.result.show, .canvas.show{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-y: scroll;
  backdrop-filterr: blur(10px);
}

@media (max-width: 768px){
  .result{
    width: 100%;
  }
  
}


.result .result-header, .canvas .canvas-header{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  /* border-bottom: 1px solid #333232; */
  
}
.result-header-left, .result-header-right, .canvas-header-left, .canvas-header-right{
  display: flex;
  align-items: center;
  gap: 10px;
}

.result-header-left, .canvas-header-left{
  flex: 1;
}

@media (min-width:768px) {
  .result-header-left, .stories-header-left{
    padding-left: 60px;
  }
}

.back_btn, .more_btn{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  pointer-events: auto;
  cursor: pointer;
}

.more_btn{
  border-radius: 10px;
}

.back_btn:hover, .more_btn:hover{
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filterr: blur(10px);
}

.result .result-header h1{
  font-size: 20px;
  font-family: GeneralSans-Semibold;
  color: #fff;
  margin: 0;
}

.result-body, .canvas-body{
  width: 100%;
  max-width: 700px;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  padding: 020px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}


.hide{
  display: none;
}

.show{
  display: flex;
}

.settingsContainer, .recentsContainer, .genImageContainer, .loginContainer, .customizeContainer, .summariseContainer{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

@keyframes shows {
  from{
    scale: 0.95;
    opacity: 0.85;
  }
  to{
    scale: 1;
    opacity: 1;
  }
}

@keyframes hides {
  from{
    scale: 1;
    opacity: 1;
  }
  to{
    scale: 0.95;
    opacity: 0;
  }
}




.settings-wrapper, .recents-wrapper, .genImageWrapper, .loginWrapper, .customizeWrapper, .summariseWrapper{
  width: 800px;
  max-width: 100%;
  height: 500px;
  background-color: rgb(8, 8, 14);
  backdrop-filterr: blur(10px);
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  animation: shows 0.2s ease;
  margin: 0 10px;
  overflow: scroll;
}
/* .summariseWrapper{
  height: unset;
  max-height: 500px;
} */
.settings-wrapper.hide, .recents-wrapper.hide, .genImageWrapper.hide, .loginWrapper.hide, .customizeWrapper.hide, .summariseWrapper.hide{
  animation: hides 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .settings-wrapper, .recents-wrapper{
    height: 100%;
    border-radius: 0;
    margin: 0;
  }
}

.settings-header, .recents-header, .genImageHeader, .loginHeader, .customizeHeader, .summariseHeader{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  border-bottom: 1px solid #333232;
}

.loginHeader{
  border-bottom: none;
}

.btn-container{
  display: flex;
  align-items: center;
  gap: 10px;
}

.close-btn, .download-btn{
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-btn:hover, .download-btn:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.settings-body, .recents-body{
  position: relative;
  flex: 1;
  width: 100%;
  
}

.recents-body{
  padding: 20px;
  overflow-y: scroll;
}

.related-ques{
  flex: 1;
}


.related-ques-list{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.related-ques-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  pointer-events: auto;
  cursor: pointer;
  padding: 5px 5px 5px 10px;
  border-radius: 10px;
  animation: fadein 0.64;
}

.related-ques-item:hover{
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filterr: blur(10px);
}

.related-ques-item p{
  font-size: 14px;
  font-family: GeneralSans-Regular;
  font-family: "Poppins";
  font-weight: 500;
}

.related-ques-item span{
  margin: 0;
  padding: 0;
}



.markdown-output h1 {
  font-size: 2rem;
  font-weight: bold;
}

.markdown-output pre{
  background-color: rgba(255, 255, 255, 0.05);
  /* backdrop-filterr: blur(10px); */
  padding: 20px;  
  border-radius: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;

}


.markdown-output h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.markdown-output h3 {
  font-size: 1.2rem;
  margin-top: 0.8rem;
}


.change{
  animation: fadeinout 1s ease;
}

@keyframes fadeinout {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.genImageBody{
  height: calc(100% - 81px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.summariseBody{
  height: calc(100% - 81px);
  width: 100%;
  padding: 10px;
}


.genImageBody img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
  overflow: hidden;
}


.loginBody{
  padding: 10px;
}

.googlLoginBox{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filterr: blur(10);
  padding: 15px 25px;
  border-radius: 30px;
}

.googlLoginBox p{
  font-size: 18px;
  font-family: GeneralSans-Medium;
}

.googlLoginBox:hover{
  background-color: rgba(255, 255, 255, 0.1);
}


.resans *{
  animation: fadein 0.6s;
  text-transform: select;
}

@keyframes fadein {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.customizeBody{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.customizeBody p{
  font-weight: 800;

}

.customizeBody input, .customizeBody textarea{
  width: 100%;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  background: transparent;
  font-size: 16px;
  font-family: GeneralSans-Regular;
  padding: 10px;
  max-height: 120px;
  word-wrap: break-word;
  resize: none;
  display: flex;
  align-items: center;
  cursor: text;
}