.searchBoxContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 10px;
  z-index: 10000;
  pointer-events: none;
}

.searchBox{
  width: 90%;
  min-height: 110px;
  /* height: 110px; */
  max-height: ;
  max-width: 600px;
  display: flex;  
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-radius: 30px;
  padding: 10px;
  position: relative;
  margin: 0 10px;
  transition: min-height 0.3s ease, flex-direction 0.3s ease;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: auto;
}



.searchBox.onsearch{
  max-width: 650px;
}
.searchBox.toolmode{
  height: unset;
}

.searchBoxContainer.onsearch{
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  justify-content: center;
}

@media (max-width: 768px) {
  
  .searchBoxContainer.onsearch{
    
    position: absolute;
    bottom: 25px;
  }
}

.searchBoxContainer.onsearch .searchBox{
  background-color: var(--dialog-bg);
}

.searchBoxContainer.onsearch .searchBox .chipContainer{
  margin-left: 20px;
}

.searchBox.active::after, .searchBox.active::before{
  content: "";
  position: absolute;
  height: 105%;
  width: 101%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  background-image: conic-gradient(from var(--angle), transparent 50%, blue);
  z-index: -1;
  animation: spinBox 3s linear infinite;
}

@media (max-width: 768px){
  /* .searchBox.active::after, .searchBox.active::before{
    height: 106%;
    width: 102%;
    background-image: conic-gradient(from var(--angle), transparent 50%, rgb(40, 40, 255));
    animation: spinBox 3s linear infinite ;
  } */
}

.searchBox.active.red{
  background-color: #2f1a1a;
}
.searchBox.active.green{
  background-color: #1b2f1a;
}
.searchBox.active.blue{
  background-color: #1a1a2f;
}
.searchBox.active.purple{
  background-color: #241a2f;
}
.searchBox.active.yellow{
  background-color: #2f2d1a;
}

.searchBox.red.active::after, .searchBox.red.active::before{
  background-image: conic-gradient(from var(--angle), transparent 50%,  rgb(255, 0, 0));
}

.searchBox.blue.active::after, .searchBox.blue.active::before{
  background-image: conic-gradient(from var(--angle), transparent 50%,  rgb(0, 60, 255));
}

.searchBox.green.active::after, .searchBox.green.active::before{
  background-image: conic-gradient(from var(--angle), transparent 50%,  rgb(0, 255, 21));
}

.searchBox.purple.active::after, .searchBox.purple.active::before{
  background-image: conic-gradient(from var(--angle), transparent 50%,  rgb(89, 0, 255));
}

.searchBox.yellow.active::after, .searchBox.yellow.active::before{
  background-image: conic-gradient(from var(--angle), transparent 50%,  rgb(255, 153, 0));
}

.searchBox.active::after{
  filter: blur(10px);
  opacity: 1;
}

.searchBox .chipContainer{
  flex: 1;
  animation: fadein 0.2s ease;
  height: 40px;
  
}

@keyframes fadein {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.searchBox.active .chipContainer{
  display: none;
}


.searchBoxInputContainer{
  padding-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.searchBox.toolmode .searchBoxInputContainer{
  padding-top: 0 !important;
}

.searchBox.toolmode .chipContainer{
  display: none;
}

.searchBoxInputContainer .searchTool{
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filterr: blur(10px);
  border-radius: 30px;
  padding: 10px 15px;
  position: relative;
}

.searchBoxInputContainer .searchTool span{
  font-size: 1em;
}

.searchBoxInputContainer .searchTool span.draw{
  color: rgb(247, 53, 53);
}

.searchBoxInputContainer .searchTool span.code{
  color: rgb(45, 250, 62);
}

.searchBoxInputContainer .searchTool span.summarise{
  color: rgb(53, 98, 247);
}

.searchBoxInputContainer .searchTool span.story{
  color: rgb(121, 53, 247);
}

.searchBoxInputContainer .searchTool span.learn{
  color: rgb(247, 170, 53);
}


.searchBoxInputContainer .searchTool p{
  text-transform: capitalize;
}

.searchBoxInputContainer .searchTool .close-btn, .filesContainer .close-btn{
  height: 20px;
  width: 20px;
  position: absolute;
  top: -5px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filterr: blur(10px);
}


.searchBoxInputContainer .searchTool .close-btn span, .filesContainer .close-btn span{
  color: white;
  font-size: 14px;
}

.searchBoxButtonContainer{
  width:100%;
  display: flex;
}
/* @media (min-width: 768px){
  .searchBox{
    margin-top: 20px;
    
  }
}
.home .searchBox{
  margin-top: 25px;
} */

.searchBox .searchBoxInputContainer textarea{
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  font-size: 16px;
  font-family: GeneralSans-Regular;
  font-family: "Poppins";
  padding: 0 10px;
  max-height: 120px;
  word-wrap: break-word;
  resize: none;
  display: flex;
  align-items: center;
  cursor: text;
}

.blank{
  flex: 1;
}

.searchBox .smallBtn{
  background: rgba(40,57,70,1);
}

.searchBox.active, .searchBox.toolmode{
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: unset;
  min-height: 70px;
  max-height: 70px;
  border-radius: 50px;
  background: #0a1333;
  transition: height 0.3s ease;
  
}

.searchBox.toolmode{
  max-height: 200px;
}

.searchBox.active .searchBoxInputContainer, .searchBox.toolmode .searchBoxInputContainer{
  flex: 1;
  align-items: center;
  padding-top: 0;
}



.searchBox.active .searchBoxButtonContainer, .searchBox.toolmode .searchBoxButtonContainer{
  width: auto;
}


.searchBox .sendBtn{
  position: absolute;
  bottom: 10px;
  right: 10px;

  background-color: rgba(255, 255, 255, 0.05) ;
  backdrop-filterr: blur(10px);
}

.searchBox.active .sendBtn, .searchBox.toolmode .sendBtn{
  bottom: 15px;
}




.searchBox.onsearch .chip{
  background:  #272e45;;
}

.add-btn{
  height: 100%;
  min-height: 40px; 
  aspect-ratio: 1/1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
}

.add-btn span{
  font-size: 20px;
  transition: all 0.3s;
}

.add-btn.active span{
  transform: rotate(45deg);
  scale: 1.1;
}


.add-btn:hover{
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filterr: blur(10px);
}

.add-btn.active{
  background-color: rgba(117, 167, 243, 0.15);
}

.btn-wrapper {
  position: relative;
  display: inline-block;
}


.searchAddOnes {
  width: 200px;
  background-color: rgb(23, 25, 46);
  position: absolute;
  bottom: 100%; /* stick it above the button */
  left: 0;
  z-index: 1000;
  border-radius: 15px;
  pointer-events: auto;
  margin-bottom: 5px; /* small gap */
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.searchAddOne{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;
}
.searchAddOne:hover{
  background-color: rgba(255, 255, 255, 0.05);
}

.searchAddOne span{
  font-size: 20px;
}
.searchAddOne p{
  font-size: 14px;
}

.searchAddOnes .line{
  margin: 5px 0;
}


.filesContainer{
  height: 55px;
  aspect-ratio: 1/1;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.05);
  z-index: 1000;
  border-radius: 20px;
  /* margin: 0 10px; */
  display: none;
  position: relative;
}


.filesContainer img{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}