.search{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: 60px 15px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* border-radius: 30px 30px 0 0; */
  overflow-y: hidden;
}


.responses{
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: var(--text-color);
  font-family: customFonts;
  scroll-behavior: smooth;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px 0 150px 0;
  overflow-y: scroll;
}


/* .responseDiv img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
  border: none;
  display: none;
  margin-bottom: 10px;
  margin-top: 10px;
} */
.responseDiv:last-child{
  min-height: 100%;
}

.responseDiv:last-child #response{
  padding-bottom: 150px;
}
.filters{
  margin: 10px 0;
  display: flex;
}
.filter{
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  pointer-events: auto;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.7;
}

.filter.active, .filter.source{
  opacity: 1;
  background-color: #f6f6f6;
}
.filter.source{
  padding: 10px 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  cursor: pointer;
  margin-top: 15px;
}
.filter.source:hover{
  background-color: #ebebeb;
}
.filter.source p{
  pointer-events: none !important;
}

.filter.source img{
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-right: 5px;
  /* position: absolute; */
}


.home.dark .filter.source{
  background-color: rgb(49, 49, 49);
}

.home.dark .filter.source:hover{
  background-color: rgba(255, 255, 255, 0.171);
}

.icon-stack{
  height: 20px;
  width: 40px;
  margin-right: 5px;
  position: relative;
  display: inline-block;
  align-items: center;
}

.icon-stack img{
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
}

.icon-stack img:nth-child(1){
  left: 0;
  z-index: 1;
}

.icon-stack img:nth-child(2){
  left: 10px;
  z-index: 1;
}

.icon-stack img:nth-child(3){
  left: 20px;
  z-index: 1;
}

.line{
  width: 100%;
  height: 0.08px;
  background-color: grey;
  opacity: 0.2;
  margin: 20px 0;
}
#response{
  margin-top: 10px;
  font-family: customFonts;
  max-width: 100%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-size: 1em;
  overflow-y: hidden;
  pointer-events: none;
  padding: 10px 0;
  position: relative;
}

.loading {
  width: 100px;
  font-size: 15px;
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 400;
  /* text-align: center; */
  opacity: 0.7;
}

/* The nested span selector is unnested here: */
.loading span {
  display: inline-block;
  margin: 0 0.5px;
}

.loading span {
  animation: loading01 1s infinite alternate;
}

/* The Sass loop generates these rules: */

.loading span:nth-child(1) {
  animation-delay: 0s; /* i = 0 */
}

.loading span:nth-child(2) {
  animation-delay: 0.1s; /* i = 1 */
}

.loading span:nth-child(3) {
  animation-delay: 0.2s; /* i = 2 */
}

.loading span:nth-child(4) {
  animation-delay: 0.3s; /* i = 3 */
}

.loading span:nth-child(5) {
  animation-delay: 0.4s; /* i = 4 */
}

.loading span:nth-child(6) {
  animation-delay: 0.5s; /* i = 5 */
}

.loading span:nth-child(7) {
  animation-delay: 0.6s; /* i = 6 */
}

.loading span:nth-child(8) {
  animation-delay: 0.7s; /* i = 6 */
}

.loading span:nth-child(9) {
  animation-delay: 0.8s; /* i = 6 */
}

/* --- Keyframes (unchanged) --- */

@keyframes loading01 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



.resans *, .resans{
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
    cursor: text;
  pointer-events: auto;
}


#response p{
  margin: 0;
  padding: 0;
  cursor: text;
  pointer-events: auto;
  line-height: 1.3em;

  /* font-family: "Work Sans", sans-serif; */
  font-optical-sizing: auto;
  font-weight: unset;
  font-style: normal;

}

.resans ul{
  /* list-style: none; */
}
.resans li{
  height: unset !important;
  padding: 0 !important;
}

.responseDiv p{
  font-size: 1em;
  line-height: 1.5;
  color: var(--text-color);
  /* font-family: GeneralSans-SemiBold; */

}

.resans strong{
  font-weight: 600;
}

.responseDiv{
  position: relative;
}
.responseDiv h1{
  font-size: 28px;
  /* letter-spacing: 0.3px; */
  user-select: text;
  pointer-events: auto;
}

@media (max-width: 768px) {
  .responseDiv h1{
    font-size: 24px;
  }
}

/* .header{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 0 10px;
  z-index: 100;
} */


.headRow:first-child{
  display: flex;
  align-items: center;
  flex: 1;
}

.headRow:last-child{
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}

.more-btn{
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  justify-content: center;
  position: relative;
  pointer-events: auto;
  cursor: pointer;
  border-radius: 50%;
}

.more-btn:hover{
  background-color: var(--header-onscroll);
}

.more-btn:hover .options{
  display: flex;
}

.options{
  padding: 5px;
  background-color: var(--dialog-bg);
  border-radius: 10px;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1000;
  display: none;
}

.option{
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative;
  pointer-events: auto;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
}

.option:hover{
  background-color: var(--header-onscroll);
}

.option span{
  font-size: 16px;
}

.option p{
  font-size: 14px;
  font-family: GeneralSans-Regular;
}

.header h1{
  font-family: GeneralSans-Medium;
}



.actions{
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;

  opacity: 0;
  pointer-events: none;

  transition: opacity 1s ease;
}
.actions.active{
  opacity: 1;
  transition: opacity 1s ease;
  pointer-events: auto;
}
.actions .bigActions{
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 3;
}

.actions .bigActions .actionBtn{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  pointer-events: auto;
  transition: background-color 0.3s ease;
}

.actions .bigActions .actionBtn span{
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.actions .bigActions .actionBtn p{
  pointer-events: none !important;
}

.bigActions .actionBtn span{
  font-size: 1.1em;
}

.bigActions .actionBtn p{
  font-size: 0.8em;
  color: var(--text-color);
  margin: 0;
}

.actions .bigActions .actionBtn:hover{
  background-color: rgba(255, 255, 255, 0.05);
}

.actions .quickActions{
  display: flex;
  align-items: center;
  /* justify-content: end; */
  gap: 10px;
  /* flex: 1; */
}

.actions .quickActions .actionBtn{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  transition: background-color 0.3s ease;
}

.quickActions .actionBtn span{
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  
}

.quickActions .actionBtn:hover{
  background-color: var(--header-onscroll);
}


@media (min-width: 768px){
  .search{
    padding-top: 20px;
  }
  .header{
    padding: 0 30px;
  }
}



.bottom-spacer {
  height: 1000px;
}
@media (max-width: 768px) {
  .result-body{
    max-height: calc(100vh - 150px) !important;
    overflow-y: scroll;
  }
}


.resans h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.resans ul, .resans ol {
  padding-left: 20px;
}


.resans table {
  /* border-collapse: collapse; */
  width: 100%;
  background-color: #fafafa;
}
thead{
  border-radius: 10px;
}
.resans td, .resans th {
  border: 1px solid #ccc;
  padding: 8px;
}

.response .related-ques{
  flex: 0;
  width: 100%;
}


.response .related-ques-list{
  height: 130px !important;
  opacity: 0;
}


.response .related-ques.active .response .related-ques-list{
  opacity: 1;
}



