.chipContainer{
  width: 100%;
  display: flex;
  gap: 10px;
}

.chip{
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  /* background: #272e45; */
  border: 1px solid rgba(70, 137, 212, 0.15);
  background-color: transparent;
  border-radius: 30px;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.chip.active{
  background-color: rgba(117, 167, 243, 0.15) !important;
  /* backdrop-filterr: blur(10px); */
}

.chip:hover{
  background-color: rgba(255, 255, 255, 0.05);
  /* backdrop-filterr: blur(10px); */
}

.chip span{ 
  font-size: 16px;
  color: #738ee6;
  padding: 0;
  margin: 0;
}
.chip p{
  font-size: 14px;
  color: #738ee6;
  padding: 0;
  margin: 0;
}