.chipContainer{
  width: 100%;
  display: flex;
  gap: 10px;
}

.chip{
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  /* background: #272e45; */
  border: 1px solid rgba(70, 137, 212, 0.15);
  background-color: transparent;
  border-radius: 30px;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.chip.active{
  /* background-color: rgb(255, 236, 206) !important; */
  background-color: #E9EFF7;
}
.home.dark .chip *{
  color: white !important;
}
.home.dark .chip.active{
  background-color: rgb(63, 63, 63) !important;
}

.chip:hover{
  background-color: rgba(241, 241, 241, 0.541);
}

.chip.active:hover{
  background-color: #E9EFF7;
}

.home.dark .chip:hover{
  background-color: #ffffff15;
}

.home.dark .chip.active:hover{
  background-color: #ffffff15;
}

.chip span{ 
  font-size: 16px;
  /* color: #738ee6; */
  /* color: #a3823a; */
  color: #3d3d3d;

  padding: 0;
  margin: 0;
}
.chip p{
  font-size: 14px;
  /* color: #738ee6; */
  /* color: #a3823a; */
  color: #3d3d3d;
  padding: 0;
  margin: 0;
}