.settings-body{
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.settingsMenuContainer{
  flex: 1;
  border-right: 1px solid #dddddd;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.home.dark .settingsMenuContainer{
  border-right: 1px solid #525252;
}

.settings-menu-item{
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.settings-menu-item span{
  font-size: 1.2em;
}
.settings-menu-item.active{
  background-color: rgb(238, 238, 238);
  /* color: white;s */
}
.settings-menu-item.active:hover{
  /* background-color: rgb(235, 235, 235); */
}
.settings-menu-item:hover{
  background-color: rgba(0, 0, 0, 0.041);
}

.home.dark .settings-menu-item.active{
  background-color: rgb(47, 70, 148);
}


.home.dark .settings-menu-item:hover{
  background-color: #ffffff1f;
}


.home.dark .settings-menu-item.active:hover{
  background-color: rgb(47, 70, 148);
}



.settingsContentContainer{
  flex: 3;
}

.settings-body .general{
  padding: 10px 15px;

  padding-bottom: 50px;

  overflow-y: scroll;
}


.settings-body .general .accountContainer{
  padding: 10px;
  margin-top: 20px;
  display: flex;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  overflow: hidden;
}

.home.dark .settings-body .general .accountContainer{
  background-color: rgb(43, 35, 27);
  background-color: #ffffff10;
}



.settings-body .general .accountContainer .profileContainer{
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-body .general .accountContainer .profileContainer span{
  font-size: 3em;
}

.settings-body .general .accountContainer .infoContainer{
  flex: 1;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings-body .general .accountContainer .buttonContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings-body .animations, .general, .datacontrols{
  width: 100%;
  height: 100%;
}


.settings-item{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-item p{
  font-size: 18px;
  font-family: GeneralSans-Regular;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.settings-item .switch{
  width: 55px;
  height: 30px;
  border-radius: 30px;
  background-color: rgb(239, 241, 255);
  display: flex;
  align-items: center;
  padding: 0 5px;
  cursor: pointer ;
  border: 1px solid #333232;
  position: relative;
}

.settings-item .switch.active{
  border: none;
  background-color: rgb(33, 43, 180);
}


.switch .switch-btn{
  height: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgb(42, 57, 197);
  transition: right 0.3s ease;
  position: absolute;
  right: 28px;
  cursor: pointer;

  transition: all 0.3s;

}

.settings-item .switch.active .switch-btn{
  position: absolute;
  right: 5px;
  transition: right 0.3s ease;
  background-color: bisque;
  background-color: rgb(255, 233, 215);
}




@keyframes slidein {
  from{
    transform: translateX(100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideout {
  from{
    transform: translateX(0);
    opacity: 0;
  }
  to{
    transform: translateX(100%);
    opacity: 1;
  }
}

.settings-back{
  display: none;
}



@media (max-width: 768px) {
  .settings-header{
    /* padding: 20px 10px; */
  }
  .settingsMenuContainer.hide{
    display: none;
  }
  .settingsContentContainer.showContent{
    display: flex;
    animation: slidein 0.3s;
  }
  .settingsContentContainer.hideContent{
    animation: slidein 0.3s;
    display: none;
  }
  .settings-menu-item.active{
    background-color: transparent !important;
  }
  .settings-back{
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  /* .settings-back span{
    background-color: bisque;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  } */

  .settings-back span{
    font-size: 24px;
  }
  .settings-back h2{
    text-transform: capitalize;
  }
}

.about{
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.about-logo{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: end;
}

.about-logo div:first-child{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.about-logo div:last-child{
  padding-bottom: 10px;
  font-size: 18px;
}

.about-logo img{
  height: 50px;
  width: 50px;
  margin-top: 5px;
}

.about-logo h1{
  font-size: 2.5em;
  font-family: GeneralSans-Medium;
  font-family: "Poppins";
}

.about-author{
  margin-top: 20px;
  text-align: center;
}



.customizeAI{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.customizeAI h3{
  margin: 15px 0 5px 0;
}

.customizeAI p{
  font-weight: 500;
  font-size: 14px;
}

.customizeAI input, .customizeAI textarea{
  width: 100%;
  resize: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dddddd !important;
  outline: none;
  cursor: text;
  font-size: 0.85em;
}

.home.dark .customizeAI input, .home.dark .customizeAI textarea{
  color: white;
  border: 1px solid rgb(90, 90, 90) !important;
}

.customizeAI input:focus, .customizeAI textarea:focus{
  border: 1px solid rgb(151, 151, 151) !important;
}
.home.dark .customizeAI input:focus,.home.dark .customizeAI textarea:focus{
  border: 1px solid rgb(158, 158, 158) !important;
}
.customizeAI .btn-container{
width: 100%;
display: flex;
flex-direction: row-reverse;
padding: 10px 0;
}
.customizeAI .save-btn{
  padding: 8px 13px;
  border-radius: 30px;
  border: 1px solid #808080;
  cursor: pointer;
  font-size: 0.9em;
}

.home.dark .customizeAI .save-btn{
  border: 1px solid rgb(95, 95, 95);
}

.customizeAI .save-btn:hover{
  background-color: rgb(238, 238, 238);
}
.home.dark .customizeAI .save-btn:hover{
  background-color: rgba(255, 255, 255, 0.096);
}

.delete-btn{
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(168, 0, 0, 0.05);
  font-size: 16px;
  cursor: pointer;
  color: rgb(218, 59, 59);
}