

.left-sidebar{
  background-color: rgba(255, 255, 255, 0.05);
  /* background-color: var(--dialog-bg); */
  height: 100%;
  width: 300px;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* background-color: rgb(255, 243, 228) !important; */
  border-right: 1px solid rgb(228, 228, 228);
  background-color: white;
  z-index: 1000;
  padding: 5px;
  
}

.home.dark .left-sidebar{
  background-color: #292929;
  border: 0;
}

.left-sidebar.collapsed{
  position: absolute;
  left: 0px;
  /* left: 0; */
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  /* height: 100%; */
  /* border-radius: 10px; */
  z-index: 1000;
  width: 70px;
  overflow: hidden;
  transition: width 0.3s ease;

}

.left-sidebar.collapsed .sidebar-collapse-btn{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.left-sidebar.collapsed:hover .sidebar-collapse-btn{
    opacity: 1;
    pointer-events: auto;
}
.left-sidebar.collapsed:hover{
    width: 300px;
}

.left-sidebar.collapsed:hover .recent-chats{  
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.left-sidebar.collapsed .recent-chats{
    opacity: 0;
    display: none;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.left-sidebar.collapsedd .setting-btn{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.left-sidebar.collapsed:hoverr .setting-btn{
    display: flex;
    padding: 10px 15px 10px 12px;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
}



.left-sidebar.collapsed .setting-btn p{
    opacity: 0;
    transition: opacity 0.3s ease;
}

.left-sidebar.collapsed:hover .setting-btn p{
    opacity: 1;
}

.left-sidebar.collapsed .new_chat_button p,.left-sidebar.collapsed .gallery_btn p,
.left-sidebar.collapsed .lessons_btn p,.left-sidebar.collapsed .stories_btn p{
    opacity: 0;
    transition: opacity 0.3s ease;
}

.left-sidebar.collapsed:hover .new_chat_button p,.left-sidebar.collapsed:hover .gallery_btn p,
.left-sidebar.collapsed:hover .lessons_btn p,.left-sidebar.collapsed:hover .stories_btn p{
    opacity: 1;
}

.right-sidebar{
  /* position: absolute;
  right: 0;
  top: 0; */
  flex: 1;
  /* background-color: rgba(255, 255, 255, 0.05); */
  position: relative;
  top: auto;
  /* right: 10px; */
  /* height: 97%; */
  height: 100%;
  width: 250px;
  /* border-radius: 20px; */
  /* animation: rightsideshow 0.5s ease; */
  display: none;
  flex-direction: column;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

  transition: width 0.3s ease;
  border-left: 1px solid rgb(228, 228, 228);
}

.home.dark .right-sidebar{
  border-left: 1px solid #272727;
}



.right-sidebar.collapsed{
  position: absolute;
  right: 0px;
  /* left: 0; */
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  /* height: 100%; */
  /* border-radius: 10px; */
  z-index: 1000;
  width: 70px;
  overflow: hidden;
  transition: width 0.3s ease;
}

.right-sidebar.collapsed .right-sidebar-header-left, .right-sidebar.collapsed .related-ques{
  display: none;
}



.home-wrapper.anim .right-sidebar{
  right: 10px;
  height: 97%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.05);
}

@keyframes leftsideshow {
  from{
    transform: translateX(-40px);
    opacity: 0.5;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rightsideshow {
  from{
    transform: translateX(40px);
    opacity: 0.5;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
.left-sidebar.show, .right-sidebar.show{
  display: flex;
}

@media (max-width: 768px){
  .left-sidebar.show{
    display: none;
  }
  .result{
    margin: 0;
    border-radius: 0;
  }
  .result-header{
    padding: 0 10px;
  }
  .right-sidebar.show{
    display: none;
  }
}


.left-sidebar-header{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  /* border-bottom: 1px solid #333232; */
}
.left-sidebar-header img{
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.right-sidebar-header{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
  /* border-bottom: 1px solid #333232; */
}

.right-sidebar-header-left{
  display: flex;
  gap: 10px;
  flex: 1;
}

.right-sidebar-header-right{
  width: 100%;
  display: flex;
  justify-content: right;
}

.sidebar-collapse-btn{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}

.sidebar-collapse-btn:hover{
  background-color: rgba(255, 255, 255, 0.05);
}

.left-sidebar-header h1{
  font-family: GeneralSans-Medium;
  /* color: #fff; */
  margin: 0;
}

.left-sidebar-body{
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  overflow-y: auto;
  position: relative;

  
}

.right-sidebar-body{
  width: 100%;
  height: 100%;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
}

.new_chat_button, .gallery_btn, .lessons_btn, .stories_btn{
  max-width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
  border-radius: 10px;
  /* color: #fff; */
  font-family: GeneralSans-Medium;
  cursor: pointer;
  margin-top: 5px;
}

.new_chat_button{
  margin-top: 0;
  background-color: #E9EFF7;
}

.home.dark .new_chat_button{
  background-color: rgb(47, 70, 148);
}

.new_chat_button:hover, .gallery_btn:hover, .lessons_btn:hover, .stories_btn:hover{
  background-color: rgb(245, 245, 245);
}

.home.dark .gallery_btn:hover, .home.dark .lessons_btn:hover, .home.dark .stories_btn:hover{
  background-color: #ffffff1f;
}
.home.dark .new_chat_button:hover{
  background-color: rgba(47, 71, 148, 0.459);
}

.new_chat_button span, .gallery_btn span, .lessons_btn span, .stories_btn span{
  font-size: 20px;
  margin-bottom: 2px;
}

.new_chat_button p, .gallery_btn p, .lessons_btn p, .stories_btn p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}



.recent-chats{
  margin-top: 20px;
  flex: 1;
  height: 100%;
}
.recent-chats h3{
  font-family: GeneralSans-Medium;
}


.sidebar-footer{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
} 

.setting-btn{
    width: 120px;
    height: 40px;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.sidebar-footer .setting-btn:hover{
  background-color: #E9EFF7;
}

.home.dark .setting-btn:hover{
  background-color: #ffffff1f;
}

.sidebar-footer .setting-btn span{
    font-size: 20px;
}

.sidebar-footer .setting-btn p{
  font-weight: 600;
}


@media (max-width: 1000px){
  .right-sidebar.show{
    display: none;
  }
}

@media (max-width: 768px) {
  .left-sidebar{
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    border-radius: 0 30px 30px 0;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.158);
    width: 80%;
  }
  .left-sidebar-body *{
    opacity: 0;
  }
  .left-sidebar.open{
    transform: translateX(0%);
    overflow: hidden;
    transition: transform 0.4s ease;
}
  @keyframes fadein {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  .left-sidebar.open .left-sidebar-body *{
    animation: fadein 0.7s ease;
    opacity: 1;
  }
  
}







.right-sidebar-footer{
  padding: 10px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  
}


.right-sidebar-footer .footer-logo{
  display: flex;
  gap: 5px;
  align-items: center;
}

.footer-logo img{
  width: 20px;
  height: 20px;
}

.footer-logo p{
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
  font-weight: 500;
}

.footer-logo .logo-txt{
  font-family: GeneralSans-Medium;
  font-family: "Poppins";
}


.dvlpr p{
  font-size: 14px;
  margin-left: 3px;
}

.dvlpr p a{
  font-family: GeneralSans-Medium;
  font-family: "Poppins";
  pointer-events: auto;
  cursor: pointer;
  font-weight: 600;
}


.recent-chats-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  position: relative;
  /* overflow-y: scroll; */
  /* gap: 20px; */
  padding: 10px 0 100px 0;
}

.no-recents{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 50px;
}

.no-recents span{
  font-size: 50px;
  /* color: rgba(255, 255, 255, 0.5); */
}

.no-recents h4{
  font-size: 18px;
  font-family: GeneralSans-Regular;
  font-family: "Poppins", sans-serif;
  /* color: rgba(255, 255, 255, 0.5); */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.recentChatItem{
  min-height: 40px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recentChatItem:hover{
  background-color: rgb(245, 245, 245)
}

.home.dark .recentChatItem:hover{
  background-color: #ffffff1f;
}

.recentChatItem p{
  flex: 1;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.recentChatItem .more{
  padding-left: 20px;
  
}




.collapse-button{
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #353535; */
  border: 1px solid #353535;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  left: -17px;
  background-color: #1d1d1d;
}


.collapse-button span{
  font-size: 27px;
  margin-left: 2px;
  margin-bottom: 2px;
}