.toast{
    position: absolute;
    top: 20px;
    right: 30px;
    /* transform: translate(-50%, -50%); */
    padding: 10px 15px;
    background-color: rgb(22, 35, 83);
    border-radius: 10px;
    animation: showToast 0.5s ease;
    color: white;
    z-index: 10000;
}

.toast.hide{
    animation: hideToast 0.5s ease;
}

@keyframes showToast{
    from{
        top: 0px;
        opacity: 0;
    }
    to{
        top: 20px;
        opacity: 1;
    }
}

@keyframes hideToast{
    from{
        opacity: 1;
        top: 20px;
    }
    to{
        opacity: 0;
        top: 0;
    }
}